"*":
  "atom-typescript": {}
  "code-peek":
    maxHeight: 800
    maxWidth: 1000
  core:
    disabledPackages: [
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      "node_modules"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    projectHome: "/home/shfrmn"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "genesis-syntax"
    ]
  docblockr:
    simple_mode: true
  editor:
    fontSize: 16
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
    preferredLineLength: 90
    softWrapHangingIndent: 4
    tabLength: 2
    tabType: "soft"
  "exception-reporting":
    userId: "07950a27-6915-bdf4-f35b-d5108f1f13ef"
  linter:
    errorPanelHeight: 28
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
    prettierOptions:
      bracketSpacing: false
      semi: false
  "symbols-tree-view":
    defaultWidth: 400
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".js.regexp.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".js.source":
  editor:
    preferredLineLength: 100
    tabLength: 2
".source.ts":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?…"
